---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div class="wordwrap">🎓  <a href="{{ site.author.googlescholar }}">Google Scholar</a>.</div>
{% endif %}

<br>

{% for pub in site.data.publications %}
<p>
  <strong><a href="{{ pub.url }}">{{ pub.title }}</a></strong><br>
  {{ pub.authors | markdownify | remove: '<p>' | remove: '</p>' | strip }} ({{ pub.year }})<br>
  {% if pub.note %}<em>{{ pub.note }}</em><br>{% endif %}
  {{ pub.venue | markdownify | remove: '<p>' | remove: '</p>' | strip }}
</p>
{% endfor %}
